body {
  background-color: rgb(14, 5, 34);

  /* Smoothly transition the background color */
  transition: background-color .5s;
}

.player {
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
 
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  border: 2px solid rgba(18, 17, 75, 0.849);
  border-radius: 15%;
  box-shadow:0 4px 8px black;
}

.track-art {
  margin: 25px;
  border: 2px solid rgba(239, 238, 245, 0.849);
  height: 250px;
  width: 250px;
  background-image: url("c:\Users\DELL\Downloads\pexels-photo-262034.webp");
  background-size: cover;
  border-radius: 35%;
  animation:boranimate 2s ease-in 0s infinite normal;
}
@keyframes boranimate{
  0%{
      color: rgb(87, 12, 138);
  }
  50%{
     color: rgb(223, 9, 37);
  }
  80%{
     color:rgb(24, 11, 139) ;
  }
  100%{
      color: rgb(255, 0, 98);
  }

 }

.now-playing {
  font-size: 1rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.track-name {
  font-size: 2rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: beige;
  animation:colanimate 3s ease-in 0s infinite normal;
}
@keyframes colanimate{
  0%{
      color: rgb(6, 200, 235);
  }
  50%{
     color: rgb(39, 8, 110);
  }
  80%{
     color:rgb(24, 11, 139) ;
  }
  100%{
      color: rgb(255, 0, 98);
  }

 }

.track-artist {
  font-size: 1.2rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playpause-track, .prev-track, .next-track {
  padding: 30px;
  opacity: 0.8;

  /* Smoothly transition the opacity */
  transition: opacity .2s;
}

.playpause-track:hover, .prev-track:hover, .next-track:hover {
  opacity: 1.0;
}

.slider_container {
  width: 75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modify the appearance of the slider */
.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}

.seek_slider:hover, .volume_slider:hover {
  opacity: 1.0;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time, .total-duration {
  padding: 10px;
}

i.fa-volume-down, i.fa-volume-up {
  padding: 10px;
}

i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
  cursor: pointer;
}